
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnderReview</title>
</head>
<body>
    <div>
        <h2>Under Review</h2>
        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "genric-btn default" })
    </div>
</body>
</html>
